* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/README.markdown -text
/apertium-krl.krl.acx -text
/apertium-krl.krl.dix -text
/apertium-krl.krl.rlx -text
/apertium-krl.pc.in -text
/apertium-krl.post-krl.dix -text
/autogen.sh -text
dev/foo.py -text
dev/kks.wordlist -text
dev/kks1/01_a.xml -text
dev/kks1/02_alu.xml -text
dev/kks1/03_eh.xml -text
dev/kks1/04_ha.xml -text
dev/kks1/05_he.xml -text
dev/kks1/06_hi.xml -text
dev/kks1/07_hl.xml -text
dev/kks1/08_huo.xml -text
dev/kks1/09_hz.xml -text
dev/kks1/10_i.xml -text
dev/kks1/11_ja.xml -text
dev/kks1/12_jum.xml -text
dev/kks2/01_ka.xml -text
dev/kks2/02_kanna.xml -text
dev/kks2/03_katsa.xml -text
dev/kks2/04_keta.xml -text
dev/kks2/05_kina.xml -text
dev/kks2/06_klu.xml -text
dev/kks2/07_kom.xml -text
dev/kks2/08_kot.xml -text
dev/kks2/09_ku.xml -text
dev/kks2/10_kuom.xml -text
dev/kks2/11_kuum.xml -text
dev/kks2/12_kz.xml -text
dev/kks3/01_la.xml -text
dev/kks3/02_le.xml -text
dev/kks3/03_lii.xml -text
dev/kks3/04_lom.xml -text
dev/kks3/05_ly.xml -text
dev/kks3/06_ma.xml -text
dev/kks3/07_met.xml -text
dev/kks3/08_mu.xml -text
dev/kks3/09_my.xml -text
dev/kks3/10_na.xml -text
dev/kks3/11_nii.xml -text
dev/kks3/12_nuo.xml -text
dev/kks4/01_oah.xml -text
dev/kks4/02_omp.xml -text
dev/kks4/03_ott.xml -text
dev/kks4/04_pak.xml -text
dev/kks4/05_pas.xml -text
dev/kks4/06_per.xml -text
dev/kks4/07_pfu.xml -text
dev/kks4/08_pip.xml -text
dev/kks4/09_plo.xml -text
dev/kks4/10_pol.xml -text
dev/kks4/11_pra.xml -text
dev/kks4/12_pro.xml -text
dev/kks4/13_pul.xml -text
dev/kks4/14_pus.xml -text
dev/kks4/15_pyy.xml -text
dev/kks5/01_rah.xml -text
dev/kks5/02_raut.xml -text
dev/kks5/03_reak.xml -text
dev/kks5/04_ris.xml -text
dev/kks5/05_rom.xml -text
dev/kks5/06_ruop.xml -text
dev/kks5/07_ryoh.xml -text
dev/kks5/08_sah.xml -text
dev/kks5/09_sar.xml -text
dev/kks5/10_sej.xml -text
dev/kks5/11_sie.xml -text
dev/kks5/12_sim.xml -text
dev/kks5/13_slu.xml -text
dev/kks5/14_soh.xml -text
dev/kks5/15_sos.xml -text
dev/kks5/16_sto.xml -text
dev/kks5/17_suo.xml -text
dev/kks5/18_suus.xml -text
dev/kks5/19_sys.xml -text
dev/kks6/01_ta.xml -text
dev/kks6/02_tar.xml -text
dev/kks6/03_terve.xml -text
dev/kks6/04_to.xml -text
dev/kks6/05_tov.xml -text
dev/kks6/06_tsip.xml -text
dev/kks6/07_tsup.xml -text
dev/kks6/08_tuli.xml -text
dev/kks6/09_turm.xml -text
dev/kks6/10_tyo.xml -text
dev/kks6/11_uf.xml -text
dev/kks6/12_usk.xml -text
dev/kks6/13_valj.xml -text
dev/kks6/14_vas.xml -text
dev/kks6/15_vep.xml -text
dev/kks6/16_vier.xml -text
dev/kks6/17_vilj.xml -text
dev/kks6/18_vo.xml -text
dev/kks6/19_vuos.xml -text
dev/kks6/20_yl.xml -text
dev/lueminut.txt -text
/krl.prob -text svneol=unset#unset
/modes.xml -text
texts/omamua1.txt -text
texts/omamua1.vislcg.txt -text
texts/puupankki/puupankki.krl.conllu -text
